<div class="modal-back">
    <div class="modal-box">
        <div class="header">
            <h5 class="title">{{texts.title}}</h5>
            <span class="close-modal" (click)="closeModal()"></span>
        </div>
        <div class="content">
            <fieldset>
                <p>{{texts.message}}</p>
            </fieldset>
        </div>
        <div class="footer">
            <button class="button secondary" (click)="closeModal()">Cancel</button>
            <button class="button" (click)="confirm()">{{texts.confirm}}</button>
        </div>
    </div>
</div>

