@import '../../global/vars.scss';

app-actions {
    position: absolute;
    right: 0;
    height: 45px;
    width: auto;
    top: -45px;
    z-index: 2;

    &.blue{
        height: 95px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -95px;
        width: calc(100% - 200px);
    }

    &.dark {
        top: 24px;
        right: 55px;
        display: none;
    }

    &.green{
        top: -48px;
        display: none;
    }
}

.side-content {
    position: absolute;
    width: calc(100% - 200px);
    height: 100%;
    left: 200px;
    overflow: auto;

    .back-bar {
        display: none;
        margin: 30px 50px 10px 50px;
        padding-bottom: 20px;
        border-bottom: 1px solid #C0C0C0;
        font-size: 25px;
        font-weight: 700;
        border-bottom-color: rgba(226, 226, 226, 1);
        .click{
            display: inline-block;
            cursor: pointer;
        }
        .back {
            position: relative;
            display: inline-block;
            margin-right: 10px;
            cursor: pointer;

            g {
                fill: $primary-color;
            }
        }
    }

    &.blue{
        height: calc(100% + 95px);
        top: -95px;
        background-color: #f4f6f8;

        .widget-wrapper{
            height: calc(100% - 95px);
            top: 95px;
            position: absolute;
            width: 100%;
        }
    }

    &.green {
        width: 100%;
        left: 0;
        display: none;
        background-color: #FFF;
        top: -45px;
        height: calc(100% + 45px);

        .back-bar {
            display: block;
            margin: 10px 0px 0px 0px;
            padding: 0 20px 10px 20px;
            font-size: 15px;
            font-weight: 500;

            .back {
                margin-right: 5px;

                svg {
                    width: 10px;
                    height: 11px;
                }

            }
        }

        .widget-wrapper {
            height: calc(100% - 45px);
            margin: 0px 50px;
        }
    }

    &.dark {
        width: 100%;
        left: 0;
        display: none;

        .back-bar {
            display: block;
        }

        .widget-wrapper {
            height: calc(100% - 90px);
            margin: 0px 50px;
        }
    }

    p.blank {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 18px;
        color: #bdbdbe;
    }
}

app-deployment-status {
    position: absolute;
    z-index: 8;
    bottom: 0;
    width: auto;
    padding: 10px 20px;
    border-radius: 5px 5px 0px 0px;
    background-color: #05be05;
    box-sizing: border-box;
    left: 50%;
    transform: translate(-50%, 0%);
}