app-actions{
    position: absolute;
    right: 0;
    height: 45px;
    width: auto;
    top: -45px;
    z-index: 2;
}

.side-content{
    position: absolute;
    width: calc(100% - 200px);
    height: 100%;
    left: 200px;
    overflow: auto;
}

.widget-wrapper{
    height: 100%;
}