app-actions {
    position: absolute;
    right: 0;
    height: 45px;
    width: auto;
    top: -45px;
    z-index: 2;
}

.side-content {
    position: absolute;
    width: calc(100% - 200px);
    height: 100%;
    left: 200px;
    overflow: auto;

    p.blank {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 18px;
        color: #bdbdbe;
    }
}

app-deployment-status{
    position: absolute;
    z-index: 8;
    bottom: 0;
    width: auto;
    padding: 10px 20px;
    border-radius: 5px 5px 0px 0px;
    background-color: #05be05;
    box-sizing: border-box;
    left: 50%;
    transform: translate(-50%, 0%);
}