.content{
    position: absolute;
    width: 100%;
    height: calc(100% - 95px);
    top: 95px;
    left: 0;
    &.dark{
        height: calc(100% - 50px);
        top: 50px;
    }
    &.blue{
    }
}

.content-nobar{
    position: absolute;
    width: 100%;
    height: calc(100% - 50px);
    top: 50px;
    left: 0;
}