@import '../../global/vars.scss';

.login {
    width: 553px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .logo {
        width: 100%;
        height: 84px;
        background-image: url(../../../assets/ica_login.svg);
        background-repeat: no-repeat;
        background-position: center center;
        margin-bottom: 20px;
    }

    h3 {
        margin: 0;
        padding: 0;
        opacity: 1;
        color: rgba(71, 71, 71, 1);
        font-size: 23px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: 0px;
        margin-bottom: 15px;
    }

    p {
        color: rgba(125, 125, 125, 1);
        font-size: 15px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: 0px;
        text-align: center;
        padding: 0;
        margin: 0;
        margin-bottom: 5px;

        a {
            color: $primary-color;
        }
    }

    .login-form {
        width: 100%;
        height: 400px;
        background-color: #FFF;
        border-radius: 4px;
        text-align: center;
        box-sizing: border-box;
        padding: 52px 42px;
        margin-bottom: 20px;
        position: relative;

        p {
            color: rgba(161, 161, 161, 1);
            font-size: 15px;
            font-weight: 500;
            font-style: normal;
            letter-spacing: 0px;
            margin: 0;
            padding: 0;
            margin-bottom: 24px;

            &.error {
                position: absolute;
                bottom: 12px;
                width: calc(100% - 84px);
                text-align: center;
                box-sizing: border-box;
                padding: 10px;
                font-size: 12px;
                margin: 0;
                font-weight: 400;
                background-color: #ffeaea;
                color: #b76565;
                border-radius: 4px;
            }
        }

        input {
            width: 100%;
            height: 60px;
            border: none;
            outline: none;
            display: block;
            border-radius: 5px;
            opacity: 1;
            background-color: rgba(232, 236, 240, 1);
            opacity: 1;
            font-size: 15px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0px;
            text-align: left;
            padding: 0 15px;
            margin-bottom: 12px;
            box-sizing: border-box;

            &::placeholder {
                color: rgba(125, 125, 125, 1);
                opacity: 0.8;
            }
        }

        button {
            width: 100%;
            height: 60px;
            margin-top: 2px;
            border: none;
            border-radius: 5px;
            background-color: $primary-color;
            color: rgba(255, 255, 255, 1);
            font-size: 17px;
            font-weight: 500;
            font-style: normal;
            letter-spacing: 0px;
        }
    }
}

.modal-back {
    .modal-box {
        width: 428px;
        height: 500px;
        max-height: 90%;

        .content {
            margin-top: 20px;
            margin-bottom: 20px;
            max-height: 80%;
            height: auto;
            position: absolute;
            width: calc(100% - 40px);
            overflow: auto;
        }
    }
}