@import '../../global/vars.scss';

.main-topbar {
    width: 100%;
    height: 50px;
    background-color: #FFF;
    padding: 14px 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 3;

    .logo {
        background-image: url(../../../assets/ica_header.svg);
        width: 38px;
        height: 32px;
        background-repeat: no-repeat;
        display: inline-block;
        // position: absolute;
        left: 20px;
    }

    nav {
        display: inline-block;
        position: absolute;
        top: 0;
        margin-left: 23px;
        height: 100%;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            height: 100%;

            li {
                display: inline-block;
                height: 100%;

                a {
                    display: inline-block;
                    position: relative;
                    height: 100%;
                    box-sizing: border-box;
                    padding: 0px 10px;
                    line-height: 50px;
                    color: $primary-color;
                    font-size: 13px;
                    font-weight: 400;
                    font-style: normal;
                    letter-spacing: 0px;
                    text-decoration: none;

                    span {
                        filter: invert(43%) sepia(77%) saturate(7052%) hue-rotate(223deg) brightness(100%) contrast(92%);
                    }

                    .admin-icon {
                        width: 11px;
                        height: 13px;
                        background-image: url(../../../assets/icons/admin.svg);
                        background-size: contain;
                        background-repeat: no-repeat;
                        display: inline-block;
                        position: relative;
                        top: 1px;
                        margin-right: 4px;
                    }

                    .dataset-icon {
                        width: 13px;
                        height: 13px;
                        background-image: url(../../../assets/icons/datasets.svg);
                        background-size: contain;
                        background-repeat: no-repeat;
                        display: inline-block;
                        position: relative;
                        top: 2px;
                        margin-right: 4px;
                    }

                    .reports-icon {
                        width: 11px;
                        height: 13px;
                        background-image: url(../../../assets/icons/report.svg);
                        background-size: contain;
                        background-repeat: no-repeat;
                        display: inline-block;
                        position: relative;
                        top: 2px;
                        margin-right: 4px;
                    }

                    &:hover {
                        background-color: rgb(244, 246, 248);
                    }
                }

                &.selected {
                    a {
                        background-color: #2E5DF4;
                        color: rgba(255, 255, 255, 1);

                        span {
                            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(316deg) brightness(103%) contrast(104%);
                        }
                    }
                }
            }
        }
    }

    .searchbar {
        position: absolute;
        border-radius: 5px;
        background-color: rgba(232, 236, 240, 1);
        width: 363px;
        height: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: none;
        box-sizing: border-box;
        padding: 0px 10px;
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0px;

        &::placeholder {
            opacity: 0.5;
            color: rgba(71, 71, 71, 1);
        }

        &:focus {
            outline: 2px solid $primary-color;
        }
    }

    .user {
        position: absolute;
        right: 20px;
        top: 0px;
        height: 100%;
        line-height: 50px;

        .name {
            color: rgba(86, 86, 86, 1);
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            letter-spacing: 0px;
            display: inline-block;
            margin-right: 9px;
        }

        .profile-pic {
            height: 32px;
            width: 32px;
            position: relative;
            display: inline-block;
            border-radius: 50%;
            background-color: #ddd;
            top: 10px;
            background-size: 100%;
        }

        &:hover {
            cursor: pointer;

            >.sub-menu {
                display: block;
            }
        }
    }

    .inside-menu {
        display: none;
        list-style: none;

        li {
            display: inline-block;
            height: 50px;
            line-height: 50px;
            padding: 0 20px;

            a {
                text-decoration: none;
                color: #FFF;
                opacity: 0.5;
            }

            &.selected {
                background-color: rgba(255,255, 255, 0.2);

                a {
                    opacity: 1;
                }
            }
        }
    }

    .hamburguer {
        display: none;
        position: absolute;
        left: 20px;
        top: 15px;
        width: 24px;
        height: 20px;
        background-image: url(../../../assets/icons/hamb.svg);
        background-position: center;
    }

    &.blue {
        background-color: #254083;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;

        .searchbar {
            display: none;
        }

        .logo {
            width: 102px !important;
            filter: brightness(0) invert(1);
            position: relative;
            left: initial;
        }

        .user {
            position: fixed;
            height: 50px;
            left: 0;
            width: 200px;
            bottom: 20px;
            top: unset;
            padding: 0 20px;
            box-sizing: border-box;

            .name {
                float: right;
                width: calc(100% - 44px);
                height: 50px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-right: 0px;
                color: #254083;
                ;
            }

            .profile-pic {
                float: left;
                height: 34px;
                width: 34px;
                top: 8px;
            }

            .sub-menu {
                left: calc(100% - 15px);
                top: 1px;
            }
        }



    }

    &.dark {
        background-color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            position: absolute;
            top: 14px;
        }

        .searchbar {
            display: none;
        }

        .inside-menu {
            display: block;
        }

        .user .name {
            color: #FFF;
        }
    }

    &.green {
        background-color: #64BCC1;
        display: flex;
        align-items: center;
        justify-content: center;

        .searchbar {
            display: none;
        }

        .hamburguer {
            display: block;
        }

        .user .name {
            color: #FFF;
        }

        .logo {
            width: 144px !important;
            filter: brightness(0) invert(1);
            position: relative;
            left: initial;
        }
    }
}

.sub-topbar {
    width: 100%;
    height: 45px;
    background-color: rgba(244, 246, 248, 1);
    position: relative;

    &.blue {
        width: 200px;
        background: #EAEDF2;

        nav {
            width: 100%;
            ul {
                width: 100%;
                position: relative;

                li {
                    width: 50%;
                    a {
                        padding: 0;
                        font-size: 13px;
                        width: 100%;
                        text-align: center;
                    }
                }
            }

        }

    }

    &.dark {
        display: none;
    }

    &.green {
        background-color: #FFF;

        nav {
            padding: 0px 50px;

            ul {
                display: flex;
                gap: 20px;

                li {
                    a {
                        padding: 0;
                    }

                    &.selected {
                        a {
                            border-bottom: none;

                            &::after {
                                content: '';
                                width: 24px;
                                height: 3px;
                                background-color: $primary-color;
                                position: absolute;
                                bottom: 0px;
                                left: 50%;
                                margin-left: -12px;
                            }
                        }
                    }

                }
            }
        }

    }

    nav {
        display: inline-block;
        height: 100%;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            height: 100%;

            li {
                display: inline-block;
                height: 100%;

                a {
                    display: inline-block;
                    position: relative;
                    height: 100%;
                    box-sizing: border-box;
                    padding: 0px 20px;
                    line-height: 45px;
                    opacity: 0.3;
                    color: rgba(71, 71, 71, 1);
                    font-size: 15px;
                    font-weight: 500;
                    font-style: normal;
                    letter-spacing: 0px;
                    text-decoration: none;

                    &:hover {
                        opacity: 0.7;
                    }

                    &.title {
                        opacity: 1;
                    }
                }

                &.selected {
                    a {
                        color: $primary-color;
                        opacity: 1;
                        border-bottom: 3px solid $primary-color;
                    }
                }
            }
        }
    }
}