<div class="main-topbar">
    <div class="logo"></div>
    <nav>
        <ul>
            <li class="selected">
                <a href="">
                    <span class="admin-icon"></span>
                    Admin
                </a>
            </li>
            <li>
                <a href="">
                    <span class="dataset-icon"></span>
                    Datasets
                </a>
            </li>
            <li>
                <a href="">
                    <span class="reports-icon"></span>
                    Reports
                </a>
            </li>
        </ul>
    </nav>

    <input class="searchbar" placeholder="Search" />

    <div class="user">
        <span class="name">Amy Rogers</span>
        <span class="profile-pic"></span>

        <div class="sub-menu">
            <span class="logout" (click)="logout()">Log Out</span>
        </div>
    </div>

</div>
<div class="sub-topbar"></div>
